[submodule "technologie_programowania/lista4/technologie_programowania/lista4/ChineseCheckers"]
	path = technologie_programowania/lista4/technologie_programowania/lista4/ChineseCheckers
	url = https://github.com/TrollYuck/ChineseCheckers
